
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
}

#game-stats {
    margin-bottom: 20px;
}

#timer, #score {
    font-size: 1.2em;
    margin: 5px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-stop-button.start ,#start-stop-button {
    background-color: #4CAF50; /* Green for start */
    color: white;
}

#start-stop-button.stop {
    background-color: #f44336; /* Red for stop */
    color: white;
}

#reset-button {
    background-color: #f44336;
    color: white;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
    user-select: none;
    transition: background-color 0.3s, transform 0.3s;
}

.card.flipped {
    background-color: #fff;
    color: #333;
    transform: scale(1.05);
}

.hidden {
    visibility: hidden;
}

.matched {
    background-color: #fff;
    border: 2px solid gold;
}
